
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto&display=swap");
header .headerDiv {
    width: 80%;
    padding: 2px;
    margin-top: 20px;
}
header p {
    font-size: 30px;
}
.headerDiv p {
    margin-left: 25px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 17px;
}
header {
    margin-bottom: 30px;
}
input[type="text"],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
}
input[type="submit"] {
    width: 100%;
    background-color: #2497f4;
    color: white;
    padding: 14px 20px;
    margin: 30px 0px 0px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    font-family: "Noto Sans KR", sans-serif;
}
input[type="time"] {
    width: 48%;
    padding: 10px 10px;
    margin: 8px 0px 0px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]:hover {
    background-color: #f0f38b;
    color: black;
}
