
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Roboto&display=swap');

a {
    text-decoration: none;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    background: 0;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#main {
    display: flex;
    min-height: calc(100vh - 10vh);
}
#main > article {
    flex: 1;
}
#main > nav {
    flex: 0 0 15%;
    background: #2497F4;
    text-align: center;

}
#main > nav {
    order: -1;
}


.nav-item{
    margin-top: 60px;

}

.nav-item ul li a{
    padding: 15px 0px;
    margin: 40px 0px;
    transition: 0.2s;
    font-family: 'Noto Sans KR', sans-serif;
}


.nav-item ul li a span{
    font-size: 20px;
}

.nav-item ul li a:hover{
    background: #053863;
}

nav a{
    display: block;
}


header, article{
    padding: 1em;
}

header {
    display: flex;
    height: 10%;
    border-bottom: 1px solid #E7E6E6;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5vh 0px 4vh;

}

.logoImg img{
    margin-top: 10px;
    width: 25%;
    height: 50px;
}

.logout{

    font-size: 20px;
}

.logout a{
    color: #7F7F7F;
}


button, input, a {
    outline: none;
}


.search{
    margin-top: 40px;
    margin-left: 50%;
    width: 700px;
}

.search input{

}

.search input[type="date"]{
    height: 30px;
    border-radius: 6px;
    border: 1px solid #e2e7ee;
    font-family: 'Noto Sans KR', sans-serif;
}
.search input[type="text"]{
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #e2e7ee;
    font-family: 'Roboto', sans-serif;
}

.table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(114, 114, 113, 0.5);

}
table thead th {
    height: 40px;
    background: #e2e7ee;
    font-size: 16px;
}

.table th{
    color: #053863;

}
.table td{
    font-size: 14px;
    padding: 10px;

}
.main-item p{
    margin-left:10%;
    color: #053863;
    font-size: 35px;
}

.main-item{
    margin-top: 10px;
    font-family: 'Noto Sans KR', sans-serif;

}



